
@media screen and (max-width: 576px) {

    html { font-size: 12px; }

    h1, h4, h5, h6 {
        font-weight: 700;
        color: #290c4ecc;
    }

    .custom-nav { display: none; }
    .custom-shape-1 svg { height: 7.1rem; }
    .custom-shape-2 svg { height: 6.1rem; }

    .nav-menu { display: none; }

    .mobile-menu { display: block; }

    .mobile-menu a { float: left; }

    .mobile-menu a img {
        height: 40px;
        width: auto;
    }

    label {
        position: relative;
        float: right;
        font-size: 2em;
        cursor: pointer;
    }

    #toggle { display: none; }
    
    .menu { 
        position: absolute;
        width: 6rem;
        height: auto;
        display: none; 
        top: 65%;
        right: 10%;
        float: right;
        padding: 5px;
        background-color: #ffffff; 
    }

    .menu a {
        display: block;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        padding-top: 10px;
        padding-left: 5px;
        color: #396EAB;
    }

    #toggle:checked + .menu {
        display: block;
    }

    .section-header, .hero-des { font-size: 12px; }

    .hero-content { padding: 0px 20px 50px; }

    #content { order: 2; }

    .start-trial { text-align: center; }

    .trial-email { margin-bottom: 15px; }

    .trial-btn { 
        text-align: center;
        margin-left: 0px;
     }

    .features-section { padding-bottom: 80px; }

    .features-promo { padding: 20px 3px; }

    .feature-content {  padding-top: 20px; }

    .feature-card { 
        margin-left: 10px;
        padding: 15px 15px 5px 35px; 
    }

    .feature-des { font-size: 12px; }

    .pricing-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .pricing-details, .price-list { font-size: 12px; }

    .pricing-card {
        margin-top: 30px;
        padding: 10px;
    }

    .pricing-details { box-shadow: 0px 0px 40px #00000022; }
    .pricing-details:hover { box-shadow: 0px 0px 20px #00000033; }
    
    .pricing-details::before {
        height: 7rem;
        background-color: #15b290;
    }

    .pricing-2::before { background-color: #1d1d3f; }

    .card-title { 
        font-size: 2em;
        padding-top: 0px;
        color: #ffffff;
    }

    .price-btn { background-color: #15b290; }

    .contactus { 
        padding: 40px 5px; 
        padding-top: 0px;
    }

    .form-validation { font-size: 12px; }

    .top-padding { padding-top: 30px; }

    .loaction-map { 
        padding: 0px 15px;
        padding-top: 50px;
     }

    .mapouter, #gmap_canvas, .gmap_canvas {
        height: 18rem;
        width: 100%;
    }

    footer { padding: 100px 15px 80px 15px; }

    .footer-des, .links { font-size: 12px; }
}