@media screen and (max-width: 578px) {

    .main-menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .mobile-menu label {
        display: block;
    }

    .menu {
        display: none;
    }

    #toggle:checked + .menu {
        display: block;
    }

    .mapouter {
        display: none;
    }
}