@import url(bootstrap.min.css);
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}

html { font-size: 16px; }

h1, h4, h5, h6 {
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    color: rgba(41, 12, 78, 0.7);
}

img {
    width: 100%;
    height: auto;
}

.section-header h1 {
    font-size: 2.5em;
    text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.12);
}

.section-header p {
    font-size: 1.1em;
    font-weight: 500;
    word-spacing: 2px;
    line-height: 1.5;
    padding-top: 10px;
    color: rgb(116, 116, 116);
}

/*Header and Hero Section CSS*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 30px 20px;
}

#logo img {
    height: 2.5rem;
    width: auto;
}

.main-menu a {
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: #7B5CFE;
}

.main-menu a:hover {
    padding: 5px 15px;
    border-radius: 25px;
    border-radius: 16px;
    border: 1px solid rgba(216, 216, 216, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.hero-section {
    position: relative;
    padding-top: 50px;
    padding-bottom: 200px;
    background-color: #FFF3F3;
}

.hero-content { padding: 0px 20px 80px; }

.hero-content h1 {
    font-size: 2.6em;
    padding-top: 150px;
    padding-bottom: 20px;
    text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.12);
}
.hero-des {
    padding-top: 40px;
}

.hero-des span {
    font-size: 1em;
    font-weight: 600;
    color: #9b84ff;
}

.hero-des p {
    font-size: 1.3em;
    font-weight: 600;
    word-spacing: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(116, 116, 116);
}

.trial-email {
    height: 2.58rem;
    font-size: 1em;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 20px;
    padding-left: 18px;
    border-radius: 20px;
    border-style: none;
    border: 1px solid rgba(216, 216, 216, 0.5);
    box-shadow: 0px 0px 5px rgba(216, 216, 216, 0.12);
}

.trial-email:focus {
    outline: #05B18A;
    border: 1px solid #05B18A;
}

.trial-btn, .message-btn {
    height: 2.5rem;
    width: 7.5rem;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-left: 10px;
    border-style: none;
    border-radius: 20px;
    color: #ffffff;
    background-color: #05B18A;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.custom-shape-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 9.1rem;
}

.custom-shape-1 .shape-fill {
    fill: #FFFFFF;
}

.glass-container {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/*Features CSS*/
.features-section {
    padding-bottom: 100px;
    background-color: #ffffff;
}

.features-promo {
    padding-top: 50px;
}

.features-promo p {
    font-size: 1.2em;
    font-weight: 400;
    word-spacing: 2px;
    line-height: 1.6;
    padding-top: 5px;
    color: rgb(116, 116, 116);
}

.feature-content {
    padding-top: 80px;
}

.feature-item {
    padding: 10px 20px;
}

.feature-card {
    position: relative;
    border-radius: 20px;
    padding: 20px 20px 15px 20px;
    padding-left: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.feature-card::after {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 3.5rem;
    width: 3.5rem;
    margin-left: -25px;
    padding: 10px;
    border-radius: 50%;
    background-color: #fff;
}

#feature-1 { background-color: #05b189; }
#feature-1::after { 
    content: url(../images/shield.png);
    border: 2px solid #05B18A; 
}

#feature-2 { background-color: #efa459; }
#feature-2::after { 
    content: url(../images/lock.png);
    border: 2px solid #efa459; 
}

#feature-3 { background-color: #ff59bf; }
#feature-3::after { 
    content: url(../images/monitor.png);
    border: 2px solid #ff59bf; 
}

#feature-4 { background-color: #4eacff; }
#feature-4::after { 
    content: url(../images/support.png);
    border: 2px solid #4eabff; 
}

.feature-des h5 {
    font-weight: 600;
    color: #fff9f9;
}

.feature-des p {
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1.5;
    color: #000000;
}

/*Price Table CSS*/
.pricing-section {
    position: relative;
    padding-top: 100px;
    padding-bottom: 200px;
    background-color: #e7f8f0d2; 
}

.custom-shape-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 8.1rem;
}

.custom-shape-2 .shape-fill {
    fill: #FFFFFF;
}

.fa-check-circle {
    font-size: 1.2rem;
    color: #15b390;
    padding-right: 5px;
}

.fa-times-circle {
    font-size: 1.2rem;
    color: #fd5252;
    padding-right: 5px;
}

.pricing-card {
    margin-top: 30px;
    padding: 20px;
}

.pricing-details {
    background: rgba(255, 255, 255, 0.3);
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    padding: 40px 20px 20px 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.price-list {
    list-style: none;
    padding: 10px 0px;
}

.price-list li {
    padding: 5px 0px;
}

.pricing-details p sup {
    font-size: 2.5em;
    font-weight: 600;
}

.price-btn {
    border-style: none;
    padding: 10px 35px;
    border-radius: 25px;
    font-weight: 600;
    margin-bottom:5px;
    background-color: #02AD88;
    color: #ffffff;
}

/* Contact Us CSS*/
.contactus-section {
    padding-top: 0px;
    padding-bottom: 80px;
    background-color: #ffffff;
}

.contactus {
    padding: 50px;
}

#name, #phone, #email, #message {
    height: 2.9rem;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-left: 18px;
    border-style: none;
    border: 1px solid rgba(216, 216, 216, 0.5);
    box-shadow: inset 0px 0px 5px rgba(216, 216, 216, 0.2);
}

#message {
    height: auto;
    padding: 10px 0px 0px 20px;
}

#name:focus, #phone:focus, #email:focus, #message:focus {
    outline: #05B18A;
    border: 1px solid #05B18A;
}

.message-btn {
    width: 6.5rem;
    margin-left: 0px;
}

.mapouter {
    box-shadow: 0px 0px 30px rgba(216, 216, 216, 0.6);
}
/* Footer CSS */
footer {
    position: relative;
    padding: 120px 0px;
    color: #ffff;
    background-color: #1D1D3F;
}

.custom-shape-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-3 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 4.3rem;
}

.custom-shape-3 .shape-fill {
    fill: #ffffff;
}

.custom-shape-4 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-4 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 4.3rem;
    transform: rotateY(180deg);
}

.custom-shape-4 .shape-fill {
    fill: #4eacff65;
}

.links h6 {
    font-size: 1.1em;
    font-weight: 700;
    word-spacing: 2px;
    color: #ffffff;
}

.links a {
    display: block;
    font-size: 1em;
    font-weight: 500;
    word-spacing: 2px;
    padding: 4px 0px;
    text-decoration: none;
    color: #ffffff;
}

.copyright {
    font-size: 0.75em;
}